# dependencies
node_modules/

# environment variables
.env

# build output
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# testing
coverage/

# misc
*.pem
